* {
	transition: all 1s easein
}

$bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);

body{
  overflow-x: hidden;
  // background: #ffb347; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #ffb347 , #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #ffb347 , #ffcc33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
  background: rgb(255,179,71);
  transition: background .6s ease;
}
body.sec1 {
  background: rgb(77,118,225);
  transition: background .6s ease;
}
#content {
  z-index: $z9;
  overflow-x: hidden;
}
#bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: $z1;
}
#geometry {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: $z2;
}


.middle {
  max-width: 1248px;
  margin: 0 auto;
  text-align: center;
  color: white;
  h2 {
    font-size: 4em;
    line-height: 1.3em;
    font-weight: 800;
    font-weight: 700;
  }
}

// ==================== SECTION
.section .container { 
	width: 96%;
  margin: 0 auto;
  opacity: 0;
  transition: all .6s $bounce;
  transform: translate3d(0, 10%, 0);
}
.section.active .container { 
  opacity: 1;
  transition: all .6s $bounce;
  transform: translate3d(0, -10%, 0);
}
@include tablet {
  .section .container { 
    width: 94%;
  }
}
@include mobile {
  .section .container { 
    width: 90%;
  }
}


// ==================== MOCKUPS
.allcells {
  position: absolute;
  right: -5%;
  transition: all .6s $bounce;
  transform: translate3d(100%, 0, 0);
}
.allcells.visible {
  transition: all .6s $bounce;
  transform: translate3d(0, 0, 0);
}


// ==================== FLOATER
.floater {
  position: fixed;
  z-index: $z10;
  width: 400px;
  text-align: center;
  left: 10%;
  top: 15%;
  height: 500px;
  background: white;
  transform: translate3d(0, 200%, 0);
  transition: all .2s $bounce;
}
.floater.visible {
  transform: translate3d(0, 0, 0);
  transition: all .5s $bounce;
}

// ==================== MENU
.popout {
  display: block;
  position: fixed;
  right: 0;
  top: 10px;
  background: white;
  z-index: $z10;
  padding-right: 100px;
  transform: translateX(89%);
  transition: all 600ms $bounce;
  ul {
    position: relative;
    list-style: none;
    margin: 0;
    height: auto;
    width: auto;
    overflow: hidden;
  }
  li {
    display: inline-block;
    padding: 20px;
  }
  a:not(.trigger){
    padding: 30px;
    color: black;
  }
  a:not(.trigger):hover {
    background-color: #d3d3d3;
  }
}
  .popout.open {
    transform: translateX(12%);
    transition: all 600ms ease;
  }
