* {
	transition: all 1s easein
}

$bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$color0: rgb(255,179,71); // Main
$color1: rgb(233,79,55); // About Me
$color2: rgb(93,185,209); // Maxwell
$color3: rgb(0, 157, 235); // SALT 
$color4: rgb(221,0,100); // Maxi Cosi
$color5: rgb(126,224,129); // Design Snippets
body{
  overflow-x: hidden;
  // background: #ffb347; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #ffb347 , #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #ffb347 , #ffcc33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
  background: $color0;
  transition: background .6s ease;
}

#content {
  z-index: $z9;
  overflow-x: hidden;
}
#bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: $z1;
}
#geometry {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: $z2;
}




// ==================== SECTION
.section .container { 
	width: 96%;
  margin: 0 auto;
  opacity: 0;
  transition: all .6s $bounce;
  transform: translate3d(0, 10%, 0);
}
.section.active .container { 
  opacity: 1;
  transition: all .6s $bounce;
  transform: translate3d(0, -10%, 0);
}
.middle {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white;
  h2 {
    font-size: 4em;
    line-height: 1.3em;
    font-weight: 800;
    font-weight: 700;
    text-shadow: 4px 4px 10px rgba(0,0,0, .05);
  }
  h3 {
    font-size: 1.2em;
    text-shadow: 4px 4px 10px rgba(0,0,0, .05);
  }
  p {
    font-size: 1.1em;
    text-shadow: 4px 4px 10px rgba(0,0,0, .05);
  }
  .ghost {
    margin-top: 40px;
  }
  .ghost:hover {
    box-shadow: 4px 4px 4px rgba(0,0,0, .1);
  }
}
@include tablet {
  .section .container { 
    width: 94%;
  }
}
@include mobile {
  .section .container { 
    width: 90%;
  }
}

// ==================== FLOATER
.floater {
  position: absolute;
  z-index: $z10;
  width: 400px;
  overflow-x: hidden;
  text-align: center;
  left: 10%;
  top: 15%;
  height: auto;
  padding: 20px;
  background: white;
  overflow-y: hidden;
  box-shadow: 4px 4px 10px rgba(0,0,0, .1);
  transition: all .2s $bounce;
}
.floater.tile {
  width: 350px;
  position: relative;
  display: inline-block;
}
.floater.visible {
  transform: translate3d(0, 0, 0);
  transition: all .5s ease;
}
.floater-companion {
  position: fixed;
  z-index: $z3;
  width: 100%;
  height: 100%;
  height: 100vh;
  transition: all .5s ease;
}


.floater .description {
  max-width: 100%;
  margin: 0 auto;
  transition: all .5s ease;
  h3 {
    font-size: 1.9em;
    line-height: 1em;
    margin-top: 30px;
    text-transform: uppercase;
    color: #d3d3d3;
    padding-bottom: .5em;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: .5em;
  }
  ul {
    list-style: none;
    margin: 0;
    text-align: center;
  }
  li:not(:nth-child(2)) {
    padding: 5px;
    display: inline-block;
    font-size: .8em;
    color: #d3d3d3;
  }
  li:nth-child(2) {
    padding: 6px;
    display: inline-block;
    font-size: .8em;
    color: #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
  }
  p {
    weight: 400;
    color: #d3d3d3;
    font-size: 1.1em;
  }
  .ghost {
    color: #d3d3d3;
    border: 1px solid #d3d3d3;
  }
}

// ==================== MENU
.popout {
  display: block;
  position: fixed;
  right: 0;
  top: 10px;
  background: white;
  z-index: $z10;
  padding-right: 100px;
  transform: translateX(89%);
  box-shadow: 4px 4px 10px rgba(0,0,0, .1);
  transition: all 600ms $bounce;
  ul {
    position: relative;
    list-style: none;
    margin: 0;
    height: auto;
    width: auto;
    overflow: hidden;
  }
  li {
    display: inline-block;
    padding: 20px;
  }
  a:not(.trigger){
    text-transform: uppercase;
    padding: 30px;
    color: $color0;
  }
  a:not(.trigger):hover {
    padding: 30px;
    cursor: url(../img/cursor.png), auto;
  }
}
  .popout.open {
    transform: translateX(12%);
    transition: all 600ms ease;
  }


  // ================================SECTION COLORS
.fp-viewing-1-aboutme {
  background: $color1;
  transition: background .6s ease;
  .popout a {
    color: $color1;
  }
}
.fp-viewing-2 {
  background: $color2;
  transition: background .6s ease;
  .description h3,
  .description p,
  .description li,
  .description .ghost {
    color: $color2 !important;
    border-color: $color2 !important;
    transition: all .6s ease;
  }
  .popout a {
    color: $color2;
  }
}
.fp-viewing-3 {
  background: $color3;
  transition: background .6s ease;
  .description h3,
  .description p,
  .description li,
  .description .ghost {
    color: $color3 !important;
    border-color: $color3 !important;
    transition: all .6s ease;
  }
  .popout a {
    color: $color3;
  }
}
.fp-viewing-4 {
  background: $color4;
  transition: background .6s ease;
  .description h3,
  .description p,
  .description li,
  .description .ghost {
    color: $color4 !important;
    border-color: $color4 !important;
    transition: all .6s ease;
  }
  .popout a {
    color: $color4;
  }
}
