body {
	height: 100%;
	width: 100%;
}

.popout {
	box-shadow: none;
}

a.return {
	position: fixed;
	left: 2%;
	top: 0%;
	font-size: 1em;
	padding: 20px;
}


article {
	max-width: 1024px;
	margin: 0 auto;
}
.header {
	padding-top: 15%;
	text-align: center;
	.logo {
		height: 80px;
		text-align: center;
	}
	h1 {
		font-size: 3em;
		margin-top: 50px;
	}
	.btn.ghost {
		display: block;
		width: 40%;
		margin: 0 auto;
		color: black;
		margin-top: 20px;
		border-color: black;
	}
	.tags {
	    list-style: none;
	   	margin: 0;
	    margin-top: 30px;
	    margin-bottom: 30px;
	    li:not(:nth-child(2)) {
		    padding: 5px;
		    display: inline-block;
		    font-size: .8em;
		    color: #333;
		  }
		  li:nth-child(2) {
		    padding: 6px;
		    display: inline-block;
		    font-size: .8em;
		    color: #333;
		    border-right: 1px solid #d3d3d3;
		    border-left: 1px solid #d3d3d3;
		  }
	  }
}

.case-text-container {
	display: block;
	margin: 10px;
	width: 100%;
	margin: 0 auto;
	height: auto;
	padding: 50px;
	font-size: 1.3em;
	color: #333;
	text-rendering: optimizeLegibility;
	letter-spacing: .02em;
	line-height: 1.9em;
	p, ol {
		font-family: $body;
	}
	h2 {
	    line-height: 2rem;
	    margin-top: 2em;
	}
	img, video {
		margin-top: 40px;
		margin-bottom: 20px;
		text-align: center;
		width: 100%;
	}
	span {
		display: block;
	    font-size: .8em;
	    color: gray;
	    text-align: center;
	    width: 100%;
	    margin-top: 0;
	}
	.btn.ghost {
		width: 50%;
		color: black;
		border-color: black;
	}
}
.float {
	display: block;
	clear: both;
	max-width: 30%;
}
.float.left {
	float: left;
}
.float.right {
	float: right;
}

footer {
	border-top: 1px solid #d3d3d3;
	width: 100%;
	height: 450px;
	padding: 50px;
	.container {
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
	}
	h4 {
		font-size: 1.5em;
		margin: 20px;
	}
	.btn.ghost {
		text-align: center;
		color: #333;
		border-color: #333;
	}
}