.modal {
  // display: none;
  position: fixed;
  z-index: $z10;
  max-width: 80%;
  height: 500px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: white;
  padding: 5%;
  transform: translateY(200%);
  transition: all .3s $bounce;

}
.modal.open {
  // display: block;
  transform: translateY(10%);
  transition: all .5s $bounce;
}
