
#home.fp-viewing-1-aboutme {
  background: $color1;
  transition: background .6s ease;
  .popout a,
  .mobile-popout li a,
  .mobile-trigger .fa
   {
    color: $color1;
  }
  #nav-icon span {
    background: $color1;
  }
}
// =============================== MAXWELL HEALTH
#home.fp-viewing-2 {
  background: $color2;
  transition: background .6s ease;
  .description h3,
  .description p,
  .description li,
  .description .ghost {
    color: $color2 !important;
    border-color: $color2 !important;
    transition: all .6s ease;
  }
  .popout a,
  .mobile-popout li a,
  .mobile-trigger .fa
   {
    color: $color2;
  }
  #nav-icon span {
    background: $color2;
  }
}
#maxwell {
  a.return,
  .popout a,
  .mobile-trigger .fa,
  .mobile-popout li a
   {
    color: $color2;
  }
  #nav-icon span,
  .double-bounce1, 
  .double-bounce2 {
    background: $color2;
  }
}
// =============================== SALT
#home.fp-viewing-3 {
  background: $color3;
  transition: background .6s ease;
  .description h3,
  .description p,
  .description li,
  .description .ghost {
    color: $color3 !important;
    border-color: $color3 !important;
    transition: all .6s ease;
  }
  .popout a,
  .mobile-popout li a,
  .mobile-trigger .fa
   {
    color: $color3;
  }
  #nav-icon span {
    background: $color3;
  }
}
#salt {
  a.return,
  .popout a,
  .mobile-trigger .fa,
  .mobile-popout li a
   {
    color: $color3;
  }
  #nav-icon span,
  .double-bounce1, 
  .double-bounce2 {
    background: $color3;
  }
}

#home.fp-viewing-4 {
  background: $color4;
  transition: background .6s ease;
  .description h3,
  .description p,
  .description li,
  .description .ghost {
    color: $color4 !important;
    border-color: $color4 !important;
    transition: all .6s ease;
  }
  .popout a,
  .mobile-popout li a,
  .mobile-trigger .fa
   {
    color: $color4;
  }
  #nav-icon span {
    background: $color4;
  }
}
#cosi {
  a.return,
  .popout a,
  .mobile-trigger .fa,
  .mobile-popout li a
   {
    color: $color4;
  }
  #nav-icon span,
  .double-bounce1, 
  .double-bounce2 {
    background: $color4;
  }
}

// =============================== Allcells
#home.fp-viewing-5 {
  background: $color5;
  transition: background .6s ease;
  .description h3,
  .description p,
  .description li,
  .description .ghost {
    color: $color5 !important;
    border-color: $color5 !important;
    transition: all .6s ease;
  }
  .popout a,
  .mobile-popout li a,
  .mobile-trigger .fa
   {
    color: $color5;
  }
  #nav-icon span {
    background: $color5;
  }
}

// =============================== Majestic
#home.fp-viewing-6 {
  background: $color6;
  transition: background .6s ease;
  .text h3,
  .text p, 
  .text span,
  .popout a,
  .mobile-popout li a,
  .mobile-trigger .fa
   {
    color: #505050;
  }
  #nav-icon span {
    background: $color6;
  }
}
#majestic,
#mayhem {
  a.return {
    color: white;
  }
  .popout a,
  .mobile-trigger .fa,
  .mobile-popout li a
   {
    color: #505050;
  }
  #nav-icon span,
  .double-bounce1, 
  .double-bounce2 {
    background: #505050;
  }
}

// =============================== Print Designs
#home.fp-viewing-7 {
  background: $color7;
  transition: background .6s ease;
  .text h3,
  .text p, 
  .text span,
  .popout a,
  .mobile-popout li a,
  .mobile-trigger .fa
   {
    color: #505050;
  }
  #nav-icon span {
    background: $color7;
  }
}
// =============================== Other 
#home.fp-viewing-8 {
  background: $color8;
  transition: background .6s ease;
  .text h3,
  .text p, 
  .text span,
  .popout a,
  .mobile-popout li a,
  .mobile-trigger .fa
   {
    color: #505050;
  }
  #nav-icon span {
    background: $color8;
  }
}
// =============================== Bio 
#home.fp-viewing-9 {
  background: $color9;
  transition: background .6s ease;
  .text h3,
  .text p, 
  .text span,
  .popout a,
  .mobile-popout li a,
  .mobile-trigger .fa
   {
    color: #505050;
  }
  #nav-icon span {
    background: $color9;
  }
}


