::-webkit-scrollbar:not(.modal) { 
    display: none; 
}

.left.fa {
  margin-left: 10px;
}
.right.fa {
  margin-right: 10px;
}

button.btn,
a.btn {
  -webkit-appearance:none;-moz-appearance:none;border-radius:0;border-style:solid;border-width:0;cursor:pointer;font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-weight:normal;line-height:normal;margin:0 0 1.25rem;position:relative;text-align:center;text-decoration:none;display:inline-block;padding:1rem 2rem 1.0625rem 2rem;font-size:1rem;background-color:#2ba6cb;border-color:#2285a2;color:#fff;transition:background-color 300ms ease-out
}
// DEFAULT BUTTON BASE
button.btn,
a.btn {
  background: #333;
  color: #fff;
  border: 1px solid #fff;
  font-family: $body;
  margin:2.5px;
  font-size: .85em;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 800;
  vertical-align: top;
  -webkit-transition: background ease-in-out 0.2s;
  -moz-transition: background ease-in-out 0.2s;
  -ms-transition: background ease-in-out 0.2s;
  -o-transition: background ease-in-out 0.2s;
  transition: background ease-in-out 0.2s;
}

button.btn.ghost,
a.btn.ghost {
  margin-top: 1em;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-family: $body;
  transition: box-shadow ease;
}
button.btn.ghost.full,
a.btn.ghost.full {
  display: block;
  margin-top: 1em;
  width: 100%;
}

button.btn:hover,
a.btn:hover {
  box-shadow: 2px 2px 2px;
  border: 1px solid #fff;
  color: #fff;
}
@include tablet {
  button.btn,
  a.btn,
  button.btn.ghost,
  a.btn.ghost,
  button.btn.outro,
  a.btn.outro
   {
    width: 100%;
  }
}

.arrows {
  position: fixed;
  left: 2%;
  vertical-align: center;
  top: 45%;
  bottom: 55%;
  width: 51px;
  z-index: $z10;
  .arrow {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 2em;
    text-align: center;
  }
}
.btn.arrow:hover {
  color: #d3d3d3;
  background: transparent;
  border: none;
  box-shadow: none;
}
@include tablet {
  .arrows {
    display: none;
  }
}
// ICON
#nav-icon {
  margin-right: 20px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

body #nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 40px;
  background: $color0;
  opacity: 1;
  left: 0;
  vertical-align: center;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}


#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 12.5px;
}

#nav-icon span:nth-child(3) {
  top: 25px;
}

#nav-icon.open span:nth-child(1) {
  top: 12.5px;
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 12.5px;
  transform: rotate(-135deg);
}
// MOCKUP GRID
.grid {
  position: absolute;
  right: 0%; //change for screen size
  bottom: -25%;
  opacity: 0;
  width: 800px;
  transform: translateY(80%) rotateX(60deg) rotateZ(-50deg);
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.grid.show {
  opacity: 1;
  transform: translateY(0%) rotateX(60deg) rotateZ(-50deg);
  transition: all 2s ease;
}
.grid li {
  height: 500px; width: 300px;
  float: left; margin: 20px;
  list-style-type: none;
  background-size: 0, cover;
  transform-style: preserve-3d;
}

/*Left and Bottom Sides*/
.grid li:before, .grid li:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: inherit;
  background-size: cover;
}
/*Left Side*/
.grid li:before {
  transform-origin: left center;
  transform: rotateY(90deg);
  width: 5px;
}
/*Bottom Side*/
.grid li:after {
  transform-origin: bottom center;
  transform: rotateX(90deg);
  height: 5px; top: auto; bottom: 0;
  background-position: bottom center;
}
.s {
  position: absolute;
  top: 30px; left: 30px; right: 30px; bottom: 30px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.5);
  transform: translate3d(0,0,-20px);
}
.show .s {
   box-shadow: 0 0 30px 40px rgba(0, 0, 0, 0.5);
   transition: all 4s ease;
}
  .mock1 {
    transition: all 1s ease;
  }
  .mock2 {
      transition: all 1s ease;
  }
  .mock3 {
      transition: all 1s ease;
  }
  .mock4 {
      transition: all 1s ease;
  }





//
// SECTION 2 - Maxwell Health
//
.fp-viewing-2 {
  .grid.show {
    width: 800px;
    transform: translateY(5%) rotateX(60deg) rotateZ(-50deg);
    transition: all 2s ease;
  }
  .mock1 {
    width: 600px;
    height: 350px;
    background:  
      url("../img/maxwell/mh-1.png");
      background-size: cover;
    .s {
      display: block
    }
  }
  .mock2 {
    width: 600px;
    height: 350px;
    background:  
      url("../img/maxwell/mh-2.png");
      background-size: cover;
    .s {
      display: block
    }
  }
  .mock3 {
    width: 600px;
    height: 350px;
    background:  
      url("../img/maxwell/mh-3.png");
      background-size: cover;
    .s {
      display: block
    }
  }
  .mock4 {
    display: none;
    .s {
      display: none;
    }
  }
}
//
// SECTION 3 - SALT
//
.fp-viewing-3 {
  .grid.show {
    width: 1048px;
    transform: translateY(-5%) rotateX(60deg) rotateZ(-50deg);
    transition: all 2s ease;
  }
  .mock1 {
    width: 100%;
    height: 900px;
    background:  
      url("../img/salt/salt-1.png");
    background-size: cover !important;
    .s {
      display: block
    }
  }
  .mock2 {
    display: none;
    .s {
      display: none;
    }
  }
  .mock3 {
    display: none;
    .s {
      display: none;
    }
  }
  .mock4 {
    display: none;
    .s {
      display: none;
    }
  }
}

//
// SECTION 3 - Maxi Cosi
//
.fp-viewing-4 {
  .grid.show {
    width: 840px;
    transform: translateY(-5%) rotateX(60deg) rotateZ(-50deg);
    transition: all 2s ease;
  }
  .mock1 {
    width: 100%;
    height: 844px;
    background:  
      url("../img/cosi/mc-1.png");
    background-size: cover !important;
    .s {
      display: block
    }
  }
  .mock2 {
    display: none;
    .s {
      display: none;
    }
  }
  .mock3 {
    display: none;
    .s {
      display: none;
    }
  }
  .mock4 {
    display: none;
    .s {
      display: none;
    }
  }
}


//
// SECTION 4 - Allcells
//
.fp-viewing-5 {
  .grid.show {
    width: 928px;
    transform: translateY(-27%) rotateX(60deg) rotateZ(-50deg);
    transition: all 2s ease;
  }
  .mock1 {
    width: 100%;
    height: 600px;
    background:  
      url("../img/allcells/ac-1.png");
    background-size: cover !important;
    .s {
      display: block
    }
  }
  .mock2 {
    display: none;
    .s {
      display: none;
    }
  }
  .mock3 {
    display: none;
    .s {
      display: none;
    }
  }
  .mock4 {
    display: none;
    .s {
      display: none;
    }
  }
}

@include monitor {
  .fp-viewing-2 .grid.show,
  .fp-viewing-3 .grid.show,
  .fp-viewing-4 .grid.show {
    transform: translateY(-20%) rotateX(60deg) rotateZ(-50deg);
  }
  .fp-viewing-5 .grid.show {
    transform: translateY(-25%) rotateX(60deg) rotateZ(-50deg);
  }
}



.spinner {
  width: 40px;
  height: 40px;
  position: fixed;
  display: block;
  margin: 0 auto;
  left: 0%;
  right: 0%;
  top: 40%;
  display: none;
}
@include tablet {
  .spinner {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
  }
}
.spinner.loading {
  display: block;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $color0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { transform: scale(0.0) }
  50% { transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
  }
}

