::-webkit-scrollbar { 
    display: none; 
}

.left.fa {
  margin-left: 10px;
}
.right.fa {
  margin-right: 10px;
}

button.btn,
a.btn {
  -webkit-appearance:none;-moz-appearance:none;border-radius:0;border-style:solid;border-width:0;cursor:pointer;font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-weight:normal;line-height:normal;margin:0 0 1.25rem;position:relative;text-align:center;text-decoration:none;display:inline-block;padding:1rem 2rem 1.0625rem 2rem;font-size:1rem;background-color:#2ba6cb;border-color:#2285a2;color:#fff;transition:background-color 300ms ease-out
}
// DEFAULT BUTTON BASE
button.btn,
a.btn {
  background: #333;
  color: #fff;
  border: 1px solid #fff;
  font-family: $body;
  margin:2.5px;
  font-size: .85em;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 800;
  vertical-align: top;
  -webkit-transition: background ease-in-out 0.2s;
  -moz-transition: background ease-in-out 0.2s;
  -ms-transition: background ease-in-out 0.2s;
  -o-transition: background ease-in-out 0.2s;
  transition: background ease-in-out 0.2s;

}

button.btn.ghost,
a.btn.ghost {
  margin-top: 1em;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-family: $body;
}

button.btn:hover,
a.btn:hover {
  background: #333;
  border: 1px solid #fff;
  color: #fff;
}
@include tablet {
  button.btn,
  a.btn,
  button.btn.ghost,
  a.btn.ghost,
  button.btn.outro,
  a.btn.outro
   {
    width: 100%;
  }
}

.arrows {
  position: fixed;
  right: 2%;
  vertical-align: center;
  top: 45%;
  bottom: 55%;
  width: 51px;
  z-index: $z10;
  .arrow {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 2em;
    text-align: center;
  }
}
.btn.arrow:hover {
  color: #d3d3d3;
  background: transparent;
  border: none;
}

// ICON
#nav-icon {
  margin-right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

body #nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 40px;
  background: $color0;
  opacity: 1;
  left: 0;
  vertical-align: center;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
body.fp-viewing-1-aboutme #nav-icon span {
  background: $color1;
}
body.fp-viewing-2 #nav-icon span {
  background: $color2;
}
body.fp-viewing-3 #nav-icon span {
  background: $color3;
}
body.fp-viewing-4 #nav-icon span {
  background: $color4;
}


#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 12.5px;
}

#nav-icon span:nth-child(3) {
  top: 25px;
}

#nav-icon.open span:nth-child(1) {
  top: 12.5px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 12.5px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}







.grid {
  position: absolute;
  right: 0%; //change for screen size
  bottom: -25%;
  opacity: 0;
  width: 800px;
  transform: translateY(80%) rotateX(60deg) rotateZ(-50deg);
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.grid.show {
  opacity: 1;
  transform: translateY(0%) rotateX(60deg) rotateZ(-50deg);
  transition: all 2s ease;
}
.grid li {
  height: 500px; width: 300px;
  float: left; margin: 20px;
  list-style-type: none;
  background-size: 0, cover;
  transform-style: preserve-3d;
}

/*Left and Bottom Sides*/
.grid li:before, .grid li:after {
  content: '';
  position: absolute;
  /*100% height and width*/
  top: 0; left: 0; right: 0; bottom: 0;
  background: inherit;
  background-size: cover;
}
/*Left Side*/
.grid li:before {
  transform-origin: left center;
  transform: rotateY(90deg);
  /*Reducing the width of the left side for a flat feel*/
  width: 5px;
}
/*Bottom Side*/
.grid li:after {
  transform-origin: bottom center;
  transform: rotateX(90deg);
  /*Reducing the height*/
  height: 5px; top: auto; bottom: 0;
  /*Background fix - start the background from the bottom*/
  background-position: bottom center;
}
.s {
  position: absolute;
  top: 30px; left: 30px; right: 30px; bottom: 30px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.5);
  transform: translate3d(0,0,-20px);
}
.show .s {
   box-shadow: 0 0 30px 40px rgba(0, 0, 0, 0.5);
   transition: all 4s ease;
}
  .mock1 {
    transition: background 1s ease;
  }
  .mock2 {
      transition: background 1s ease;
  }
  .mock3 {
      transition: background 1s ease;
  }
  .mock4 {
      transition: background 1s ease;
  }

.fp-viewing-2 {
  .mock1 {
    background:  
      url("../img/long.png");
  }
  .mock2 {
    background: 
      url("http://thecodeplayer.com/uploads/media/m2.png");
  }
  .mock3 {
    background: 
      url("http://thecodeplayer.com/uploads/media/m3.png");
  }
  .mock4 {
    background: 
      url("http://thecodeplayer.com/uploads/media/m4.png");
  }
}
.fp-viewing-3 {
  .mock1 {
    background: 
      url("http://thecodeplayer.com/uploads/media/m2.png");
  }
  .mock2 {
    background: 
      url("http://thecodeplayer.com/uploads/media/m1.png");
  }
  .mock3 {
    background: 
      url("http://thecodeplayer.com/uploads/media/m4.png");
  }
  .mock4 {
    background: 
      url("http://thecodeplayer.com/uploads/media/m5.png");
  }
}
