	.st0{fill:#9CC6E2;}
	.st1{fill:#91B8D2;}
	.st2{fill:#88ACC4;}
	.st3{fill:#D1C0B4;}
	.st4{fill:#BEBEBE;stroke:#82817D;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st5{fill:#FFFFFF;}
	.st6{fill:#545456;}
	.st7{fill:none;stroke:#C2C4C6;stroke-width:5;stroke-linecap:square;stroke-linejoin:bevel;}
	.st8{fill:none;stroke:#C2C4C6;stroke-width:5;stroke-linecap:square;stroke-linejoin:bevel;stroke-dasharray:75.5517,107.931;}
	.st9{fill:none;stroke:#C2C4C6;stroke-width:5;stroke-linecap:square;stroke-linejoin:bevel;stroke-dasharray:63.9759,91.3942;}
	.st10{fill:none;stroke:#C2C4C6;stroke-width:5;stroke-linecap:square;stroke-linejoin:bevel;stroke-dasharray:67.912,97.0172;}
	.st11{fill:none;stroke:#C2C4C6;stroke-width:5;stroke-linecap:square;stroke-linejoin:bevel;stroke-dasharray:68.7613,98.2304;}
	.st12{fill:none;stroke:#C2C4C6;stroke-width:8;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st13{fill:#F05023;}
	.st14{fill:#F8991D;}
	.st15{fill:#E4E5E6;}
	.st16{fill:#E0E1E2;stroke:#B1B3B6;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st17{fill:#CBCCCE;stroke:#9D9FA2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st18{fill:#F27FB2;}
	.st19{fill:#CBBFB2;stroke:#BAB0A5;stroke-width:0.75;stroke-miterlimit:10;}
	.st20{fill:#E1AD52;stroke:#D7A755;stroke-width:0.75;stroke-miterlimit:10;}
	.st21{fill:#808285;}
	.st22{fill:#58595B;stroke:#6D6E71;stroke-width:0.75;stroke-miterlimit:10;}
	.st23{fill:#B0B0B4;stroke:#808285;stroke-width:0.75;stroke-miterlimit:10;}
	.st24{fill:none;stroke:#808285;stroke-width:0.75;stroke-miterlimit:10;}
	.st25{fill:#B0B0B4;stroke:#808285;stroke-miterlimit:10;}
	.st26{fill:#E6E7E8;stroke:#808285;stroke-width:0.75;stroke-miterlimit:10;}
	.st27{fill:#B7B7BA;stroke:#808285;stroke-miterlimit:10;}
	.st28{fill:none;stroke:#808285;stroke-width:0.5;stroke-miterlimit:10;}
	.st29{fill:#D2D4D6;}
	.st30{fill:#B7B7BA;stroke:#808285;stroke-width:0.75;stroke-miterlimit:10;}
	.st31{fill:#808285;stroke:#808285;stroke-width:0.75;stroke-miterlimit:10;}
	.st32{opacity:0.65;}
	.st33{fill:#AD3528;}
	.st34{fill:#395482;}
	.st35{fill:#E4E2DF;stroke:#DADBDC;stroke-width:0.5453;stroke-miterlimit:10;}
	.st36{fill:none;stroke:#58595B;stroke-width:1.5;stroke-miterlimit:10;}
	.st37{fill:#58595B;stroke:#58595B;stroke-width:0.5;stroke-miterlimit:10;}
	.st38{fill:#58595B;stroke:#E6E7E8;stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:10;}
	.st39{opacity:0.7;fill:#414042;}
	.st40{fill:#FFE19B;}
	.st41{fill:#939598;}
	.st42{fill:#7A5936;stroke:#8F6841;stroke-width:0.4545;stroke-miterlimit:10;}
	.st43{fill:#6C4F2E;}
	.st44{fill:#7A5936;stroke:#8F6841;stroke-width:0.4604;stroke-miterlimit:10;}
	.st45{fill:#808285;stroke:#808285;stroke-width:0.5;stroke-miterlimit:10;}
	.st46{fill:#B7B7BA;stroke:#808285;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st47{fill:#E0A651;}
	.st48{fill:none;stroke:#CB4C21;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;}
	.st49{fill:none;stroke:#808285;stroke-linecap:round;stroke-miterlimit:10;}
	.st50{fill:#58595B;stroke:#58595B;stroke-width:0.4376;stroke-miterlimit:10;}
	.st51{fill:none;stroke:#E6E7E8;stroke-width:0.75;stroke-linecap:square;stroke-miterlimit:10;}
	.st52{fill:none;stroke:#E9E9E4;stroke-width:2;stroke-miterlimit:10;}
	.st53{opacity:0.7;fill:#FFFFFF;}
	.st54{fill:#40545F;}
	.st55{opacity:0.1;}
	.st56{fill:none;stroke:#58595B;stroke-width:2;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st57{fill:none;stroke:#58595B;stroke-width:3;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st58{fill:none;stroke:#58595B;stroke-width:8;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st59{fill:none;stroke:#58595B;stroke-width:4;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st60{fill:none;stroke:#58595B;stroke-width:5;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st61{fill:#58595B;}
	.st62{fill:#A7A4A3;stroke:#786963;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st63{fill:#9A9391;stroke:#82716B;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st64{fill:#BFBBBA;stroke:#9A877F;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st65{fill:#E2E1E0;stroke:#918A83;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st66{fill:#9A9391;stroke:#82716B;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st67{fill:#C7C5C5;stroke:#7D6D67;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st68{fill:#BBC7D2;stroke:#7E86A1;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st69{fill:#D2D0CF;stroke:#9A877F;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st70{fill:#D2D0CF;stroke:#9A877F;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st71{fill:#A2ABAF;}
	.st72{fill:#77787B;}
	.st73{fill:none;stroke:#EDEDEE;stroke-width:0.742;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st74{fill:#7E818D;stroke:#5F626C;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st75{fill:#4D4F58;stroke:#7D7F8B;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st76{fill:#6A6D77;stroke:#4B4E56;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st77{fill:#BBC7D2;stroke:#7E86A1;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st78{fill:#75706F;stroke:#5E5F5F;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st79{fill:#E2E1E0;stroke:#918A83;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st80{fill:#D2D0CF;stroke:#7D6D67;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st81{fill:#E8E8E8;stroke:#918A83;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st82{fill:#4E4F57;stroke:#888A8C;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st83{fill:#404148;stroke:#888A8C;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st84{opacity:0.5;fill:#FAFBEC;stroke:#FCE49D;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st85{fill:#595961;stroke:#888A8C;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st86{fill:#B72325;}
	.st87{fill:#3E714F;stroke:#4E4F57;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st88{fill:none;stroke:#B72325;stroke-width:0.5;stroke-miterlimit:10;}
	.st89{fill:#F47B42;}
	.st90{opacity:0.2;}
	.st91{fill:#5D6861;}
	.st92{fill:none;stroke:#C78F2E;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st93{fill:none;stroke:#3A302A;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st94{fill:#414042;}
	.st95{fill:#586874;stroke:#899395;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st96{fill:#3E4243;stroke:#9BA5A7;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st97{fill:#586874;stroke:#98A2A4;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st98{fill:#61727F;stroke:#98A2A4;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st99{fill:#61727F;stroke:#98A2A4;stroke-linecap:square;stroke-miterlimit:10;}
	.st100{fill:#6B3A38;stroke:#A07359;stroke-miterlimit:10;}
	.st101{fill:#512926;stroke:#986D54;stroke-width:0.75;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st102{fill:#5E3230;stroke:#A07359;stroke-miterlimit:10;}
	.st103{fill:none;stroke:#B8BABC;stroke-width:1.5;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st104{fill:#484B4D;stroke:#9BA5A7;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st105{fill:#556571;stroke:#353E44;stroke-width:3;stroke-linecap:square;stroke-miterlimit:10;}
	.st106{fill:#495762;stroke:#B7C2C4;stroke-width:0.75;stroke-linecap:square;stroke-miterlimit:10;}
	.st107{fill:#3E4B55;stroke:#353E44;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
	.st108{fill:#303334;}
	.st109{fill:#4A5F66;}
	.st110{fill:#61727F;stroke:#B7C2C4;stroke-linecap:square;stroke-miterlimit:10;}
	.st111{fill:none;stroke:#B7C2C4;stroke-width:0.75;stroke-miterlimit:10;}
	.st112{fill:none;stroke:#B7C2C4;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:2.02,2.02;}
	.st113{fill:none;stroke:#B7C2C4;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:2.4978,2.4978;}
	.st114{fill:none;stroke:#B7C2C4;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:1.9941,1.9941;}
	.st115{fill:none;stroke:#B7C2C4;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:2.2103,2.2103;}
	.st116{fill:none;stroke:#B7C2C4;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:1.9913,1.9913;}
	.st117{fill:none;stroke:#B7C2C4;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:2.4977,2.4977;}
	.st118{fill:none;stroke:#B7C2C4;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:2.0031,2.0031;}
	.st119{fill:#9C7B78;stroke:#563833;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st120{fill:#DDDCDB;stroke:#AA9D8D;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st121{fill:#A5827F;stroke:#563833;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st122{fill:#95C6BD;stroke:#547470;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st123{fill:#9C7B78;stroke:#563833;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st124{fill:#E5E5E5;stroke:#81796C;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st125{fill:#E5E5E5;stroke:#8F8677;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st126{fill:#DDDCDB;stroke:#AA9D8D;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st127{fill:#6F9690;stroke:#547470;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st128{fill:#82ADA6;stroke:#547470;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st129{fill:#918F8E;stroke:#585859;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st130{fill:#BAB9B9;stroke:#7D6D67;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st131{fill:#556571;stroke:#353E44;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
	.st132{fill:#61727F;stroke:#353E44;stroke-linecap:square;stroke-miterlimit:10;}
	.st133{fill:#61727F;stroke:#353E44;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st134{fill:#3E4B55;stroke:#353E44;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
	.st135{fill:#B7C2C4;stroke:#3E4B55;stroke-linecap:square;stroke-miterlimit:10;}
	.st136{fill:#566671;stroke:#B7C2C4;stroke-width:0.5;stroke-linecap:square;stroke-miterlimit:10;}
	.st137{fill:none;stroke:#B7C2C4;stroke-linecap:square;stroke-miterlimit:10;}
	.st138{fill:#61727F;stroke:#353E44;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st139{fill:#566671;stroke:#B7C2C4;stroke-width:0.75;stroke-linecap:square;stroke-miterlimit:10;}
	.st140{fill:none;stroke:#353E44;stroke-width:0.5;stroke-miterlimit:10;}
	.st141{fill:none;stroke:#353E44;stroke-width:0.5;stroke-miterlimit:10;stroke-dasharray:1.0005,2.0009;}
	.st142{fill:none;stroke:#353E44;stroke-width:0.5;stroke-miterlimit:10;stroke-dasharray:0.9573,1.9147;}
	.st143{fill:none;stroke:#9FAAAC;stroke-width:0.5;stroke-miterlimit:10;}
	.st144{fill:none;stroke:#9FAAAC;stroke-width:0.5;stroke-miterlimit:10;stroke-dasharray:0.5766,1.1532;}
	.st145{fill:none;stroke:#9FAAAC;stroke-width:0.5;stroke-miterlimit:10;stroke-dasharray:1.0001,2.0003;}
	.st146{fill:#3C3C3C;}
	.st147{fill:#CCCDCB;}
	.st148{fill:#858685;}
	.st149{fill:#512926;stroke:#8F674F;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st150{fill:#C78F2E;}
	.st151{fill:#7D4643;stroke:#B07E62;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st152{fill:#7D4643;stroke:#A07359;stroke-miterlimit:10;}
	.st153{fill:none;stroke:#ECBC53;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
	.st154{fill:none;stroke:#ECBC53;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0,3.9815;}
	.st155{fill:none;stroke:#ECBC53;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0,3.4762;}
	.st156{fill:none;stroke:#ECBC53;stroke-linecap:round;stroke-linejoin:round;}
	.st157{fill:none;stroke:#ECBC53;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:0,2.4093;}
	.st158{fill:#623432;stroke:#8F674F;stroke-miterlimit:10;}
	.st159{fill:#B7C2C4;stroke:#353E44;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st160{fill:none;stroke:#B7C2C4;stroke-width:0.5;stroke-linecap:square;stroke-miterlimit:10;}
	.st161{fill:#512926;stroke:#8F674F;stroke-miterlimit:10;}
	.st162{fill:#3A3E3F;stroke:#576E75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st163{fill:#7C8991;}
	.st164{fill:#464547;}
	.st165{fill:#DEDFE0;}
	.st166{fill:#2A4E8B;stroke:#2971B8;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st167{fill:#393F39;stroke:#5A6047;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st168{fill:#434345;stroke:#FFFFFF;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st169{fill:#F1F2F2;}
	.st170{fill:#414042;stroke:#8A8C8E;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st171{fill:#EAAB39;}
	.st172{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
	.st173{fill:#818290;}
	.st174{fill:none;stroke:#DEDFE0;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st175{fill:none;stroke:#DEDFE0;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st176{opacity:0.4;}
	.st177{fill:#6C5553;stroke:#563833;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st178{fill:#775E5C;stroke:#563833;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st179{fill:#856A67;stroke:#563833;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st180{fill:#987875;stroke:#563833;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st181{fill:#B9C3C6;stroke:#7C7C81;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st182{fill:#BBC5C8;stroke:#797E8A;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st183{fill:#9A9FA0;stroke:#707580;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st184{fill:#6D6E71;}
	.st185{fill:none;stroke:#BEC0C2;stroke-width:0.742;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st186{fill:none;stroke:#464547;stroke-width:4;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st187{fill:#655689;stroke:#4F315E;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st188{fill:#574A77;}
	.st189{fill:#4F315E;}
	.st190{fill:#574A77;stroke:#4F315E;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st191{fill:none;stroke:#DEDFE0;stroke-width:6;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st192{fill:#816664;}
	.st193{fill:#775E5C;}
	.st194{fill:#6C5553;}
	.st195{fill:#987875;stroke:#563833;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st196{fill:#393A40;stroke:#8E99A5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st197{fill:#CBD5D8;stroke:#747477;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st198{fill:#CBD5D8;stroke:#87878C;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st199{fill:#C5D0D3;stroke:#858A97;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st200{fill:#CDD7DB;stroke:#858A97;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st201{fill:#A8AEAF;stroke:#707580;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st202{fill:#3E714F;stroke:#284744;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st203{fill:#316042;}
	.st204{fill:#284744;}
	.st205{fill:#8F716F;}
	.st206{fill:#A5827F;}
	.st207{fill:none;stroke:#707777;stroke-width:0.5;stroke-miterlimit:10;}
	.st208{fill:none;stroke:#5B6262;stroke-width:0.5;stroke-miterlimit:10;}
	.st209{fill:none;stroke:#707777;stroke-miterlimit:10;}
	.st210{fill:none;stroke:#5B6262;stroke-miterlimit:10;}
	.st211{fill:#CDD7DB;stroke:#858A97;stroke-width:1.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st212{fill:none;stroke:#87878C;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st213{fill:none;stroke:#87878C;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st214{fill:#9C7B78;}
	.st215{fill:#5C3C40;}
	.st216{fill:none;stroke:#414042;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st217{fill:none;stroke:#414042;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st218{fill:#827874;stroke:#58453E;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st219{fill:none;stroke:#DEDFE0;stroke-width:3;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st220{fill:#815D15;}
	.st221{fill:#554038;stroke:#DEDFE0;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st222{fill:#8E837E;stroke:#68524B;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st223{fill:#9C8F8A;stroke:#876C62;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st224{fill:#9B9DA0;stroke:#565759;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st225{fill:#BCB4AA;stroke:#464547;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st226{fill:#BCB4AA;stroke:#7E8083;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st227{fill:#6D6E71;stroke:#565759;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st228{fill:#DCDDDE;stroke:#555047;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st229{fill:#352723;stroke:#B6B8BA;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st230{fill:#F1E7E2;stroke:#352723;stroke-width:3;stroke-miterlimit:10;}
	.st231{fill:#B3B5B8;}
	.st232{fill:none;stroke:#352723;stroke-width:3;stroke-linecap:square;stroke-miterlimit:10;}
	.st233{fill:none;stroke:#A7A9AC;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st234{fill:#F1E7E2;stroke:#352723;stroke-miterlimit:10;}
	.st235{fill:#554A54;}
	.st236{fill:#3F4042;stroke:#707777;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st237{fill:none;stroke:#C7C8CA;stroke-width:2;stroke-miterlimit:10;}
	.st238{fill:#A17668;stroke:#7E6955;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st239{fill:#A1856D;stroke:#54463A;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st240{fill:#C6A288;stroke:#54463A;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st241{fill:#3A302A;}
	.st242{fill:#AC8E75;stroke:#CDAC92;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st243{fill:#37444F;stroke:#4F5F7F;stroke-width:1.0804;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st244{fill:#C7C8CA;}
	.st245{fill:#D1DCE0;stroke:#77787B;stroke-width:0.75;stroke-miterlimit:10;}
	.st246{fill:#D1DCE0;stroke:#77787B;stroke-width:0.7503;stroke-miterlimit:10;}
	.st247{fill:#636464;stroke:#707777;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st248{fill:#636464;stroke:#707777;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st249{fill:#937057;}
	.st250{fill:#77503C;}
	.st251{fill:#A1856D;stroke:#77503C;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st252{fill:#9C775D;stroke:#54463A;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st253{fill:#937057;stroke:#77503C;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st254{fill:#2C2E30;stroke:#707777;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st255{fill:#768B93;stroke:#496566;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st256{fill:none;stroke:#C7C8CA;stroke-width:1.9606;stroke-miterlimit:10;}
	.st257{fill:#393A40;stroke:#8E99A5;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st258{fill:#37444F;stroke:#4F5F7F;stroke-width:1.0472;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st259{fill:#B3BDC1;stroke:#77787B;stroke-miterlimit:10;}
	.st260{fill:none;stroke:#C78F2E;stroke-width:0.7692;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st261{fill:#815D15;stroke:#5A3E00;stroke-width:0.724;stroke-miterlimit:10;}
	.st262{fill:#B3BDC1;stroke:#77787B;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st263{fill:#58696F;stroke:#2F4647;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st264{fill:#383839;}
	.st265{fill:#63757C;stroke:#385151;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st266{fill:#6D8087;stroke:#415B5C;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st267{fill:#B2ABA2;stroke:#464547;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st268{fill:#DCDDDE;stroke:#555047;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st269{fill:#C6BEB6;stroke:#8A8580;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st270{fill:#D1D3D4;stroke:#7F7B71;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st271{fill:#888380;stroke:#5A544E;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st272{fill:#C0C2C4;stroke:#989287;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st273{fill:#A9A29F;stroke:#827970;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st274{fill:#354347;stroke:#496566;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st275{fill:#DCDDDE;stroke:#565148;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st276{fill:#63757C;stroke:#385151;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st277{fill:#617379;stroke:#354D4E;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st278{fill:none;stroke:#414042;stroke-width:2.0121;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st279{fill:#513F4A;stroke:#3A2633;stroke-width:0.4992;stroke-miterlimit:10;}
	.st280{fill:#513F4A;stroke:#3A2633;stroke-width:0.4408;stroke-miterlimit:10;}
	.st281{fill:#ACAAA9;stroke:#828185;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st282{opacity:0.5;fill:#3F3F3B;}
	.st283{opacity:0.1;fill:#3F3F3B;}
	.st284{fill:#373B3F;stroke:#587B80;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st285{fill:#577C8B;stroke:#373B3F;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st286{fill:#B9CCD3;stroke:#587B80;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st287{fill:none;stroke:#587B80;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st288{fill:#474B50;stroke:#759B9A;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st289{fill:none;stroke:#587B80;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st290{fill:#E2E3E4;stroke:#465252;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st291{fill:#AFBCC1;stroke:#587B80;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st292{fill:none;stroke:#587B80;stroke-width:0.5;stroke-miterlimit:10;}
	.st293{fill:#FFFBF4;}
	.st294{fill:#FEC40B;stroke:#8A8C8E;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st295{fill:#510000;stroke:#8A8C8E;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st296{fill:#685000;stroke:#8A8C8E;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st297{fill:#00A651;stroke:#8A8C8E;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st298{opacity:0.7;}
	.st299{fill:#5B0000;}
	.st300{fill:none;stroke:#3A302A;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st301{fill:#645D62;}
	.st302{fill:none;stroke:#464547;stroke-width:6;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st303{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st304{fill:#B9A393;stroke:#937060;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st305{fill:#34353B;stroke:#76808A;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st306{fill:none;stroke:#414042;stroke-width:3;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st307{fill:#2E2F35;stroke:#707A83;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st308{fill:#43444B;stroke:#8F9AA6;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st309{fill:#C9C3BC;}
	.st310{fill:#D1C1B8;}
	.st311{fill:#CEB6AA;}
	.st312{fill:#BCA295;stroke:#9D7E75;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st313{fill:#6C594E;stroke:#4F4338;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st314{fill:#BCA295;stroke:#896E66;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st315{fill:#B0907F;stroke:#856A5F;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st316{fill:#DED2CA;stroke:#AD9584;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st317{fill:#DED2CA;stroke:#AD9584;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st318{fill:#A88A79;stroke:#896E66;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st319{fill:#A88A79;stroke:#896E66;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st320{fill:#393A40;}
	.st321{fill:#656E77;}
	.st322{fill:#43444B;stroke:#8E99A5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st323{fill:none;stroke:#656E77;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st324{fill:#393A40;stroke:#656E77;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st325{fill:#43444B;stroke:#8E99A5;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st326{fill:#393A40;stroke:#656E77;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st327{fill:#D1C0B4;stroke:#A88A79;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st328{fill:#6C594E;stroke:#4F4338;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st329{fill:#896E66;stroke:#504137;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st330{fill:#BCA295;stroke:#896E66;stroke-width:0.75;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st331{fill:none;stroke:#3A302A;stroke-width:3;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st332{fill:#536171;}
	.st333{fill:none;stroke:#464547;stroke-width:2.0389;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st334{fill:#CFD3D8;stroke:#4F5966;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st335{fill:none;stroke:#464547;stroke-width:1.9661;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st336{fill:#464547;stroke:#8C8E90;stroke-miterlimit:10;}
	.st337{fill:none;stroke:#C78F2E;stroke-width:0.9831;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st338{fill:#BFB9B3;stroke:#585251;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st339{fill:#B69D8F;stroke:#585251;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st340{fill:#BCC1C6;stroke:#4F5966;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st341{fill:#CFD3D8;stroke:#545D6B;stroke-width:0.9951;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st342{fill:#CFD3D8;stroke:#545D6B;stroke-width:0.9783;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st343{fill:#C4C9CE;stroke:#545D6B;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st344{fill:#DDC939;stroke:#D89F39;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st345{fill:#ACB0B5;stroke:#414A56;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st346{fill:#BCC1C6;stroke:#4B5461;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st347{fill:#C9C3BC;stroke:#585251;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st348{fill:#A49E95;stroke:#585251;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st349{fill:#88847D;stroke:#585251;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st350{fill:none;stroke:#464547;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st351{fill:#DED2CA;stroke:#827970;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st352{fill:#CFD3D8;stroke:#545D6B;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st353{fill:none;stroke:#000000;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st354{fill:#74787D;stroke:#545D6B;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st355{fill:#C9C3BC;stroke:#585251;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st356{fill:#DED2CA;stroke:#827970;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st357{fill:#CFD3D8;stroke:#545D6B;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st358{fill:#BEC0C2;}
	.st359{fill:#848067;}
	.st360{fill:#6B747C;stroke:#415060;stroke-width:2;stroke-miterlimit:10;}
	.st361{fill:#3B689B;}
	.st362{fill:#9E9FA0;stroke:#817F7C;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st363{fill:#ADADAD;stroke:#8E8B88;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st364{fill:#A6A4AA;}
	.st365{fill:#A7A29F;}
	.st366{clip-path:url(#SVGID_2_);fill:#D6D3D0;stroke:#A69A90;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st367{fill:#A8A6A4;stroke:#7C746C;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st368{fill:#B7B5B3;stroke:#998D88;stroke-width:6;stroke-linecap:square;stroke-miterlimit:10;}
	.st369{fill:none;stroke:#807870;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st370{fill:#A6A6A7;}
	.st371{fill:#B7B7B7;}
	.st372{fill:#C4C1BF;stroke:#807870;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st373{fill:#C4C1BF;stroke:#A2978D;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st374{fill:#BAB8B7;}
	.st375{fill:#999593;}
	.st376{fill:#D6D3D0;}
	.st377{fill:#C3C0BF;}
	.st378{fill:#BEBEBF;stroke:#8E8B88;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st379{fill:#D6D3D0;stroke:#807870;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st380{fill:#807870;}
	.st381{fill:#513C37;stroke:#77504E;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st382{fill:none;stroke:#C9C9C9;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st383{fill:#C9C9C9;stroke:#807870;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st384{fill:#B7B7B7;stroke:#807870;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st385{fill:#B5ADAA;stroke:#807870;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st386{fill:#A6A6A7;stroke:#807870;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st387{fill:#ABACB4;stroke:#807870;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st388{fill:#C4C1BF;stroke:#8F867D;stroke-width:2;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st389{fill:#606E76;}
	.st390{fill:#545456 !important;stroke:#C2C4C6;stroke-width:7;stroke-miterlimit:10;}
	.st391{fill:transparent;}
	.st392{fill:#E2E3E4;}
	.st393{opacity:0.5;fill:#FFFFFF;}
	.st394{opacity:0.6;fill:#FFFFFF;}
	.st395{opacity:0.7;fill:#FFFFFF;}
	.st396{opacity:0.8;fill:#FFFFFF;}
	.st397{fill:#FFD99C;stroke:#FFFAC0;stroke-width:3;stroke-miterlimit:10;}
	.st398{opacity:0.5;fill:#D1D3D4;}
	.st399{fill:#006838;stroke:#00572D;stroke-miterlimit:10;}
	.st400{fill:#1A1A1A;stroke:#58595B;stroke-miterlimit:10;}
	.st401{fill:#D1D3D4;stroke:#BCBEC0;stroke-miterlimit:10;}
	.st402{fill:#568E40;stroke:#1A6E38;stroke-miterlimit:10;}
	.st403{fill:#CCCCCC;stroke:#A7A9AC;stroke-miterlimit:10;}
	.st404{fill:#BCBEC0;}
	.st405{fill:#F7941E;}
	.st406{fill:none;stroke:#BCBEC0;stroke-linecap:round;stroke-miterlimit:10;}
	.st407{fill:none;stroke:#000000;stroke-width:0.4924;stroke-miterlimit:10;}
	.st408{fill:none;stroke:#000000;stroke-miterlimit:10;}
	.st409{fill:#809493;stroke:#546462;stroke-miterlimit:10;}
	.st410{fill:#637573;stroke:#546462;stroke-miterlimit:10;}
	.st411{fill:#414042;stroke:#58595B;stroke-miterlimit:10;}
	.st412{fill:#E6E7E8;stroke:#D1D3D4;stroke-miterlimit:10;}
	.st413{fill:#FFFFFF;stroke:#BCBEC0;stroke-miterlimit:10;}
	.st414{fill:#D1D3D4;}
	.st415{opacity:0.5;}
	.st416{fill:none;stroke:#414042;stroke-linecap:round;stroke-miterlimit:10;}
	.st417{fill:none;stroke:#243454;stroke-miterlimit:10;}
	.st418{fill:#666666;stroke:#243454;stroke-miterlimit:10;}
	.st419{fill:#233454;stroke:#016699;stroke-miterlimit:10;}
	.st420{fill:#E6E6E6;stroke:#D1D3D4;stroke-miterlimit:10;}
	.st421{fill:#E6E6E6;stroke:#243454;stroke-miterlimit:10;}
	.st422{fill:#EF4136;stroke:#EF4136;stroke-miterlimit:10;}
	.st423{fill:#808080;}
	.st424{fill:#A7A9AC;stroke:#808285;stroke-miterlimit:10;}
	.st425{fill:#BCBEC0;stroke:#808285;stroke-miterlimit:10;}
	.st426{fill:none;stroke:#6D6E71;stroke-linecap:round;stroke-miterlimit:10;}
	.st427{fill:none;stroke:#D1D3D4;stroke-width:0.5071;stroke-linecap:round;stroke-miterlimit:10;}
	.st428{fill:#E6E7E8;}
	.st429{fill:none;stroke:#243454;stroke-width:0.6613;stroke-miterlimit:10;}
	.st430{fill:#B7B2A9;stroke:#7D6562;stroke-miterlimit:10;}
	.st431{fill:#E6E6E6;}
	.st432{fill:#E6E6E6;stroke:#6D6E71;stroke-miterlimit:10;}
	.st433{fill:none;stroke:#D1D3D4;stroke-width:0.496;stroke-linecap:round;stroke-miterlimit:10;}
	.st434{fill:#A51D2D;stroke:#C84258;stroke-miterlimit:10;}
	.st435{fill:#8E95A8;stroke:#324A7C;stroke-miterlimit:10;}
	.st436{fill:#204E3F;stroke:#266956;stroke-miterlimit:10;}
	.st437{fill:none;stroke:#414042;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st438{fill:#992E20;stroke:#7F2415;stroke-width:0.5;stroke-miterlimit:10;}
	.st439{fill:#1A1A1A;stroke:#595A5C;stroke-miterlimit:10;}
	.st440{fill:#A7A9AC;stroke:#808184;stroke-miterlimit:10;}
	.st441{fill:#A6A8AC;stroke:#808184;stroke-miterlimit:10;}
	.st442{fill:#F9BC39;stroke:#FBB040;stroke-width:0.5;stroke-miterlimit:10;}
	.st443{fill:none;stroke:#FBB040;stroke-miterlimit:10;}
	.st444{fill:none;stroke:#FBB040;stroke-width:1.5;stroke-miterlimit:10;}
	.st445{fill:none;stroke:#414042;stroke-width:1.5;stroke-miterlimit:10;}
	.st446{fill:#D1D3D4;stroke:#D1D3D4;stroke-miterlimit:10;}
	.st447{fill:#F9BC39;stroke:#FBB040;stroke-miterlimit:10;}
	.st448{fill:none;stroke:#F7941E;stroke-miterlimit:10;}
	.st449{fill:none;stroke:#FACD48;stroke-miterlimit:10;}
	.st450{fill:#307FAB;stroke:#233454;stroke-miterlimit:10;}
	.st451{fill:#162643;stroke:#3D5E93;stroke-miterlimit:10;}
	.fieldBlur{filter:url(#AI_GaussianBlur_4);}
	.fieldFill{fill:#FFFDE7;}
	// special case
	.star1{filter:url(#AI_GaussianBlur_4);}
	.star2{fill:#FFF6EA;}
	.star3{fill:#FFD99C;stroke:#FFFAC0;stroke-miterlimit:10;}
	#post17 {
		display:none;
	}
	#post16 {
		transform: translate3d(-1800%,0,0);
	}
	#buildingPlaceholder_1_ {display:none;}